{% extends "base.html" %}


{% block title %}自动化测试平台{% endblock %}
{% block main %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div></div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
        </div>
        <div class="jumbotron">
            <h1 class="display-4">自动化测试平台</h1>
            <p class="lead">内部测试平台，可以快速开展自动化相关的测试工作，它集成了web端UI自动化，app端UI自动化，接口功能测试，接口性能测试，APP稳定性测试，更有扩展功能支持.</p>
            <hr class="my-4">
            <p>专注、极客、高效.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">了解更多</a>
        </div>
    </main>

{% endblock %}