<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content>
    <meta name="author" content="bo wang">
    <title>Login</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}">
    <!-- Fav icons -->
    <link rel="icon" href="{% static 'images/logo.svg' %}">
    <link rel="stylesheet" href="../static/login.css">
</head>
<body class="text-center">
<form class="form-signin" action="/login/" method="post">
    {% csrf_token %}

    <!-- 用户名密码错误提示-->
    {% if error_msg %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ error_msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <img class="mb-4" src="{% static 'images/logo.svg' %}" alt width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputUser" class="sr-only">User name</label>
    <input type="text" id="inputUser" class="form-control" placeholder="Username" name="username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me">
            Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-info btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">Dont have account? Please contact the administrator to activate</p>
    <p class="mt-5 mb-3 text-muted">© 2020</p>


</form>
<script src="{% static "jquery/dist/jquery.slim.min.js" %}"></script>
<script src="{% static "@popperjs/core/dist/umd/popper.min.js" %}"></script>
<script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
</body>
</html>